# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log
# VS Code
.vscode/

# pytest cache
.pytest_cache/
# Python packaging
build/
dist/
*.egg-info/